* {
  box-sizing: border-box;
}

.p1 {
  display: flex;
  align-items: center;
  background: #000000;
  padding: 25px 27px 24px 24px;
  width: 1280px;
  height: 720px;
  overflow: hidden;

  .frame1 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    padding-right: 1118px;
    width: 1229px;
    height: 671px;
    overflow: hidden;

    .rectangle1 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      border-radius: 24px;
      background: #262525;
      padding: 24px 28px 25px 20px;
      width: 1229px;
      height: 671px;

      .group2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 51px;

        .rectangle36 {
          display: flex;
          align-items: center;
          align-self: stretch;
          border-radius: 15px;
          background: #4169e114;
          padding: 14px;

          .homeIcon {
            width: 28px;
            height: 28px;
            overflow: hidden;
          }
        }

        .layers1 {
          margin-top: 46px;
          width: 28px;
          height: 28px;
          overflow: hidden;
        }

        .layers2 {
          margin-top: 60px;
          width: 28px;
          height: 28px;
          overflow: hidden;
        }
      }

      .autoWrapper2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-left: 21px;

        .dashboardDaSayValent {
          width: 213px;
          height: 27px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .autoWrapper {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 14px;
          padding-right: 0;
          padding-left: 0;

          .rectangle2 {
            border-radius: 20px;
            box-shadow: 0px 4px 8px 2px #00000040;
            background: #1d1d1d;
            width: 245px;
            height: 153px;
          }
        }

        .rectangle3 {
          margin-top: 38px;
          border-radius: 20px;
          box-shadow: 0px 4px 8px 2px #00000040;
          background: #1d1d1d;
          width: 809px;
          height: 195px;
        }

        .rectangle4 {
          margin-top: 38px;
          margin-left: 423px;
          border-radius: 20px;
          box-shadow: 0px 4px 8px 2px #00000040;
          background: #1d1d1d;
          width: 386px;
          height: 157px;
        }
      }

      .rectangle5 {
        margin-top: 349px;
        margin-left: 37px;
        border-radius: 20px;
        box-shadow: 0px 4px 8px 2px #00000040;
        background: #1d1d1d;
        width: 258px;
        height: 273px;
      }
    }

    .ellipse1 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      z-index: 1;
      margin: -51px 14px 0px -21px;
      border-radius: 50%;
      background: #1bafa9cc;
      padding: 81px 38px 7px 59px;
      filter: blur(80px);

      .group3 {
        width: 21px;
        height: 14px;
      }
    }

    .group1 {
      position: absolute;
      top: 30px;
      left: 943px;
      width: 296px;
      height: 296px;

      .rectangle6 {
        position: absolute;
        top: 48px;
        left: 42px;
        border-radius: 36px;
        box-shadow: inset 0px 4px 8px 0px #00000040, 0px 4px 4px 0px #00000040;
        background: #2f847f;
        width: 221px;
        height: 201px;
        rotate: 32deg;
      }

      .rectangle52 {
        position: absolute;
        top: 43px;
        left: 22px;
        border-radius: 36px;
        box-shadow: inset 0px 4px 8px 0px #00000040, 0px 4px 4px 0px #00000040;
        background: #c68e3c;
        width: 218px;
        height: 205px;
        rotate: 15deg;
      }

      .frame2 {
        display: flex;
        position: absolute;
        top: 45px;
        left: 7px;
        align-items: flex-start;
        border-radius: 36px;
        width: 218px;
        height: 228px;

        .rectangle32 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          border: 1px solid #44077e;
          border-radius: 36px;
          box-shadow: inset 0px 4px 32px 20px #00000040;
          padding: 11px 74px 136px 24px;
          background-image: linear-gradient(
            138.03deg,
            #7b20e2 0%,
            #2b1043 101.56%
          );

          .ellipse12 {
            border-radius: 50%;
            background: #bb39d0;
            width: 118px;
            height: 102px;
            filter: blur(80px);
          }
        }
      }
    }

    .ellipse2 {
      z-index: 2;
      margin-top: 546px;
      margin-left: -21px;
      border-radius: 50%;
      background: #af621b33;
      width: 132px;
      height: 91px;
      filter: blur(80px);
    }

    .rectangle42 {
      position: absolute;
      top: 489px;
      left: 97px;
      z-index: 3;
      border-radius: 20px;
      box-shadow: 0px 4px 8px 2px #00000040;
      background: #1d1d1d;
      width: 386px;
      height: 157px;
    }
  }
}
